@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import "tailwindcss";@plugin "daisyui";
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}



/*.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/
.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-playwrite: "Rajdhani", sans-seri; 
}

html{
   scroll-behavior: smooth;
}
.scroll-container {
  position: relative; /* or fixed or absolute */
  overflow-y: auto;   /* or scroll */
  height: 100vh;      /* or any fixed height */
}
